<!DOCTYPE html>
<html ng-app="LunchCheck">

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
  <script src="app.js"></script>
<style >
body{
  font-size: 25px;
  color: red;
}
#item{
  font-size: 20px;
  color:green;
}
button{
  background: pink;
  color: blue;
  font-weight: bolder;
  font-size: 20px;
}

</style>

</head>

<body>
  <div ng-controller="LunchCheckController">
    Lunch Checker<br><br>
    <input id="item" type="text" ng-model="lunchItems" placeholder="Enter comma-separated items" /><br><br>
    <button ng-click="checkLunch()">Check If Too Much</button>
    <p>{{ message }}</p>
  </div>
</body>

</html>
